html{
  width: 100%;
  height: 100%;
  overflow: none;
}
body{
  width:100%;
  height: 100%;
  .basicFont();
  margin: 0px;
  padding: 0px;
  .backgroundDarkGray;
  font-family:"微软雅黑", Arial;
  -moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

//������div
#mainframe{
  width:100%;
  height:100%;
}

.ciicTable{
  border-collapse:collapse;
  td{
    padding:@normalPadding;
    text-align: center;
  }
  thead>tr>th{
    .border;
    border-width: 0px 0px 1px;
    padding:@normalPadding;
  }
}